#map {
	/* width : 720px; */
	position : absolute;
	left : 80px;
	right : 80px;
	height : 540px;
}

#map-conatiner {
	position : relative;
	height : 540px;
}

.ui-datepicker-trigger {
	display : none;
}

span.date {
	font-size : 13px;
}

button.date {
	padding:1px 5px;
}
